body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

button {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
}

.hidden {
    display: none;
}

#resultText {
    font-size: 48px;
}

#video {
    width: 90vw;
    max-width: 500px;
    border: 2px solid black;
    margin: 20px auto;
    display: block;
}
